#schedule_verification_view .schedule .hover_box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E7E7E7;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    left: 200px;
    position: absolute;
    top: 30px;
    width: auto;
    z-index: 100;
}